*{
    margin: 0;
    font-family:Arial;
    border: border-box;
}
.navbar {
    height: 60px;
    background-color:#0F1111;
    color:white;
    display: flex;
    
}
.nav-logo{
    height:50px;
    width:100px;
}
.logo{
    background-image:url("amazon-logo-icon-sign-art-260nw-2270561027.jpg");
    background-size:cover;
    height: 50px;px;
    width:100px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
/** box2**/
.add-Fisrt{
    color: #cccccc;
    font-size: 1rem;
}
.add-second{
    font-size: 1rem;
}