body{
    text-align: center;
}
div{
    height: 100px;
    width: 50px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    /* flex-wrap: wrap;  */
    /* align-items:flex-start
    */
  
}

#box1{
    background-color: aqua;
    flex-grow: 1;
}
    
#box2{
    background-color: rgb(160, 107, 171);
    height: 200px;
    width: 200px;
    /* align-self: flex-end; */
    flex-grow: 2;

}
#box3{
    background-color: rgb(61, 81, 23);
    height:75pxx;
}
#box4{
    background-color: rgb(67, 29, 29);
    
}
#box5{
    background-color: rgb(47, 47, 167);
    
}