*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #fff;
}
header{
    width: 200%;
    height:200vh;
    background:  linear-gradient(to top, rgba(36,36,36,0),#000), url(netflix12.jpg);
    position: relative;
    padding: 10px 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
}
nav.logo{
    width: 50px;
    height: auto;
    cursor: pointer;
}
nav.logo .img{
    height:148;
    width:40px;
    margin:0,0,0,16px;
}
nav button{
    border: 0;
    outline: none;
    background: rgb(206,12,12);
    color:#fff;
    padding:10px 20px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    margin-left:7px;
    cursor:pointer;
}
nav  .lang-btn{
    background: transparent;
    border: 1px solid #fff;
}
/* ................header section text............... */
.header-text{
    display: grid;
    place-items: center;
    text-align: center;
    margin-top: 15px;
}

.header-text h1{
    font-size: 60px;
    line-height: 55px;
    font-weight: 600;
}

.header-text h3{
    font-size:22px;
    font-weight: 400;
    margin: 20px 0;
    
}

.header-text p{
    font-size: 10px;
    margin-bottom: 20px;
}

.header-text .email{
    display: flex;
    gap: 6px;
    border: 0;
    outline:0;
    align-items: center;
    margin: auto;
}
.email input{
    padding: 16px 40px;
    border:none;
    border: 1px solid grey;
    border-radius: 4px;
    background: rgba(20,20,20,0.8);
    font-size: 15px;
    font-weight: 600;
    color:#fff
}
.email button{
    background: rgb(211,22,22);
    padding: 16px 40px;
    border:0;
    outline:none;
    border-radius: 4px;
    font-size:20px;
    color:#fff;
}
.email button i{
    margin-left: 8px;
}
hr{
    background: grey;
    width: 100%;
    height: 7px;
    border: 0;
    outline:0;
}
/* ......body section CSS code........... */